:root {

    /* Primary */
    --cyan-050: #E0FCFF;
    --cyan-100: #BEF8FD;
    --cyan-200: #87EAF2;
    --cyan-300: #54D1DB;
    --cyan-400: #38BEC9;
    --cyan-500: #2CB1BC;
    --cyan-600: #14919B;
    --cyan-700: #0E7C86;
    --cyan-800: #0A6C74;
    --cyan-900: #044E54;

    /* Neutrals */
    --grey-050: #F0F4F8;
    --grey-100: #D9E2EC;
    --grey-200: #BCCCDC;
    --grey-300: #9FB3C8;
    --grey-400: #829AB1;
    --grey-500: #627D98;
    --grey-600: #486581;
    --grey-700: #334E68;
    --grey-800: #243B53;
    --grey-900: #102A43;

    /* Supporting */
    --indigo-050: #E0E8F9;
    --indigo-100: #BED0F7;
    --indigo-200: #98AEEB;
    --indigo-300: #7B93DB;
    --indigo-400: #647ACB;
    --indigo-500: #4C63B6;
    --indigo-600: #4055A8;
    --indigo-700: #35469C;
    --indigo-800: #2D3A8C;
    --indigo-900: #19216C;

    --pink-050: #FFE0F0;
    --pink-100: #FAB8D9;
    --pink-200: #F191C1;
    --pink-300: #E668A7;
    --pink-400: #DA4A91;
    --pink-500: #C42D78;
    --pink-600: #AD2167;
    --pink-700: #9B1B5A;
    --pink-800: #781244;
    --pink-900: #5C0B33;

    --red-050: #FFEEEE;
    --red-100: #FACDCD;
    --red-200: #F29B9B;
    --red-300: #E66A6A;
    --red-400: #D64545;
    --red-500: #BA2525;
    --red-600: #A61B1B;
    --red-700: #911111;
    --red-800: #780A0A;
    --red-900: #610404;

    --yellow-050: #FFFAEB;
    --yellow-100: #FCEFC7;
    --yellow-200: #F8E3A3;
    --yellow-300: #F9DA8B;
    --yellow-400: #F7D070;
    --yellow-500: #E9B949;
    --yellow-600: #C99A2E;
    --yellow-700: #A27C1A;
    --yellow-800: #7C5E10;
    --yellow-900: #513C06;

    /* Font Sizes */
    --font-12: 12px;
    --font-14: 14px;
    --font-16: 16px;
    --font-18: 18px;
    --font-20: 20px;
    --font-24: 24px;
    --font-32: 32px;
    --font-48: 48px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--grey-050);
    color: var(--grey-900);
    font-size: var(--font-16);

    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    background-color: var(--grey-400);
}

#title {
    font-size: var(--font-18);
}

#menu {
	font-size: var(--font-24);
	border: 0;
	background: none;
	color: #000;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

nav {
    max-width: 400px;
    width: 100%;
    display: none;
}

.navigation {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	list-style: none;
}

.navigation a {
	text-align: center;
	text-decoration: none;
    color: var(--grey-900)
}

.navigation a:hover {
    transition: 0.2s;
    color: var(--grey-600);
}

.open {
	display: block;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    text-align: center;

    padding: 20px;

    max-width: 1200px;
    width: 100%;
}

img {
    width: 100%;
}

#temple-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.temple-card {
    padding: 20px;
    background-color: var(--grey-100);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.temple-card p {
    font-size: 12px;
}

footer {
    width: 100%;
    padding: 20px;
    background-color: var(--grey-400);
    text-align: center;
}