
@media (min-width: 37.5em) {

	#menu {
		display: none;
	}

    nav {
        display: block;
    }

	.navigation {
		flex-direction: row;
	}

    main {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    main h2 {
        grid-column: 1 / 4;
    }
}